//do some resets
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;

}

body {
  font: $base-font-weight #{$base-font-size}/#{$base-font-line-height} $base-font;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: 15px; //make this consistent and not grossly large
}

main {
  display: block;
}

ul, ol {
  margin-left: 15px;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: $bold-font-weight;
}

pre,
code {
  @include relative(0.9375);
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}